
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(https://img.freepik.com/free-vector/winter-mountain-landscape-with-lake-ice-crack-vector-snow-background-cartoon-illustration-with-frozen-peak-range-snowy-rocky-nature-panorama-scene-danger-hole-river-water-near-rock-scenery_107791-21208.jpg?w=1060&t=st=1702990394~exp=1702990994~hmac=94d56d6d5172a2d73e72af7a5b07c8006dea3837e761707e5580b51c90c7da2f);
    
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: 'Work Sans', sans-serif;
    min-height: 100vh;
    padding-top: 3%;
}

.standard {
    color: #000000; 
    transition: 0.3s linear;
    overflow: hidden;
}

#header,
#form,
#datetime {
    margin: 0 1rem;
    min-height: 10vh;
    width: 100%;
}

#header {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 3rem;
    min-height: 25vh;
    width: 100%;
}

#title {
    border-right: solid 3px rgba(0, 0, 0, 0.75);
    letter-spacing: 0.20rem;
    margin-top: 50px;
    margin-bottom: 20px;
    max-width: 880px;
    font-family: 'New Font', sans-serif; 
    font-size: 2rem; 
}

form {
    display: flex;
    font-size: 1.7rem;
    justify-content: center;
    margin: 15px 0;
    padding: 0.8rem;
    width: 100%;
}

form input {
    padding: 10px;
    font-size: 17px;
    border: none;
    outline: none;
    border-top-left-radius: 17px;
    border-bottom-left-radius: 17px;
    max-width: 500px;
    transition: background-color 200ms ease-in-out;
    width: 100%;
}

form input.standard-input {
    background-color: #9BB8CD;
    color: #000000;
}

form input:hover {
    cursor: text;
}

form input.standard-input:hover {
    background-color: #a0a0a1;
}

button {
    border: none;
    outline: none;
    transition: box-shadow 200ms ease, background-color 200ms ease-in-out;
}

button:hover {
    cursor: pointer;
}

button.standard-button {
    background-color: #9BB8CD;
    color: #000000;
}

button.standard-button:hover {
    background-color: white;
    box-shadow: #fff8 0 0 10px;
}

form button {
    padding: 10px;
    font-size: 17px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    min-width: 100px;
}

#myUnOrdList {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
}

.todo-list {
    min-width: 25%;
    list-style: none;
}

.todo {
    margin: 1rem;
    font-size: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25em 0.5em;
    border-radius: 30px;
    transition: background-color 200ms ease-in-out;
}

.standard-todo {
    background-color: #a9c8f6;
}

.todo li {
    padding: 7px;
    font-size: 20px;
    flex: 1;
    border-radius: 30px;
    overflow-wrap: anywhere;
}

.check-btn,
.delete-btn {
    font-size: 19px;
    cursor: pointer;
    width: 2em;
    height: 2em;
    border-radius: 80%;
    margin: 0 5px;
}

.todo-item {
    transition: opacity 0.5s ease-in-out;
}

.fall .todo-item {
    opacity: 0;
}


.fa-trash,
.fa-check {
    pointer-events: none;
}

.completed {
    transition: 0.2s;
    text-decoration: line-through;
    opacity: 0.5;
}

@media only screen and (max-width: 1000px) {
    .flexrow-container {
        align-self: unset;
        margin-right: 0;
    }
}

@media only screen and (max-width: 800px) {
    #header {
        font-size: 2rem;
    }

    #title {
        animation: animated-text 3s steps(16, end) 0.5s 1 normal both,
            animated-cursor 750ms steps(16, end) infinite;
        margin-bottom: 10px;
        margin-top: 30px;
        max-width: 330px;
    }
}

@media only screen and (max-width: 400px) {
    #header {
        font-size: 1.5rem;
    }

    #title {
        animation: animated-text 3.5s steps(16, end) 0.5s 1 normal both,
            animated-cursor 750ms steps(16, end) infinite;
        max-width: 255px;
    }
}
.logout-btn {
    background-color: #bd54c6; 
    color: #ffffff; 
    padding: 10px 15px;
    font-size: 16px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

.logout-btn:hover {
    background-color: #837885; 
}